.modalStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 32px;
}

form {
  display: flex;
  flex-direction: column;
  .marginTop {
    margin-top: 10px;
  }
  button {
    padding: 15px 0;
    background: #0575e6;
    border-radius: 30px;
    color: #ffffff;
    border: 0px;
    transition: 0.5s;

    &:hover {
      background-color: #0576e6b2;
    }
  }
}
